services:
  postgres:
    image: postgres:15
    container_name: sql-practice-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./datasets/postgres:/docker-entrypoint-initdb.d
    restart: unless-stopped

volumes:
  postgres_data: